---
layout: page
use-site-title: false
cover-img: /assets/img/cover.gif
share-description: This is Nils Schimmelmann's blog. I write about my hobbies. I am a hacker, traveler, gamer, foodie, outdoorsman, and friendly internet person.
---
<nav style="text-align: center;" aria-label="Tag shortcuts"><div data-nosnippet><a href="/tags/#smart-home">Smart Home</a> &nbsp; <a href="/tags/#software">Software</a> &nbsp; <a href="/tags/#open-source">Open Source</a> &nbsp; <a href="/tags/#hacking">Hacking</a> &nbsp; <a href="/tags/#hardware">Hardware</a> &nbsp; <a href="/tags/#outdoors">Outdoors</a> &nbsp; <a href="/tags/#travel">Travel</a></div></nav>
<hr class="small">
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.youtube_id %}
      <div class="post-youtube">
        <iframe style="height: auto; width: 100%; aspect-ratio: 16 / 9;" id="youtube_iframe" src="https://www.youtube.com/embed/{{ post.youtube_id }}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><a href="https://www.youtube.com/watch?v={{ post.youtube_id }}&amp;vq=hd720"></a>
      </div>
      {% else %}
        {% include get-thumbnail.html post=post %}
        {% assign thumbnail = thumbnail_path | strip %}
        {% if thumbnail != "" %}
        <div class="post-image">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ thumbnail | relative_url }}">
          </a>
        </div>
        {% endif %}
      {% endif %}
      <div class="post-entry">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {% assign excerpt_length = site.excerpt_length | default: 50 %}
          {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <aside class="blog-tags">
      <div data-nosnippet>
        Tags:
        {% for tag in post.tags %}
        <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
      </div>
    </aside>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Page navigation">
  <div data-nosnippet>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ site.paginate_path | relative_url | replace: 'page:num', '' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
</nav>
{% endif %}
